@model TRS.ViewModels.TrainingScheduleViewModel
@{
    ViewData["Title"] = "Training Monitoring";
    ViewBag.FormID = "TRTT-0004";
}
@* Make sure tag helpers are not available for the Window content *@
@removeTagHelper "*, Microsoft.AspNet.Mvc.Razor"
@removeTagHelper "*, Microsoft.AspNetCore.Mvc.Razor"

<style>
    .k-grid .invalid-cell {
        background-color: #ffcccc; /* Light red background */
    }
</style>

@(Html.Kendo().Window()
    .Name("window_trainingCancellation")
    .Title("TITLE")    
    .Draggable()
    .Pinned(true)    
    .Modal()
    .Visible(false)
    .Content(@<text>  
        
    </text>)    
    .Width(500)
    .Actions(actions => actions.Close())
)

<div class="card card-secondary">
    <div class="card-header" >
        <h3 class="card-title">
            <i class="fas fa-calendar"></i>
            Training Monitoring
        </h3>
    </div>
    <div class="card-body">        
        <div class="overlay-wrapper">
            <div class="overlay dark loadingSpinner" style="display: none;"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>
                @(Html.Kendo().Grid(Model.TrainingScheduleList)
                .Name("grid_trainingScheduleList")
                .HtmlAttributes(new {data_form = "Schedule" })
                .NoRecords()
                .Height(500)
                .Columns(columns =>
                {
                    columns.Bound(m => m.Program.ProgramTitle).Title("PROGRAM").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(180);               
                    columns.Bound(m => m.Course.CourseTitle).Title("COURSE").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(180);               
                    columns.Bound(m => m.TrainingCode).Title("TRAINING CODE").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(220);      
                    columns.Bound(m => m.ScheduleStatus).Title("TRAINING SCHEDULE STATUS").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(180);               
                    columns.Bound(m => m.FormattedDate).Title("DATE").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(180);            
                    columns.Bound(m => m.TrainingType).Title("TRAINING TYPE").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(140);      
                    columns.Bound(m => m.ResourceSpeaker).Title("RESOURCE SPEAKER").HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" }).Width(170);                                      
                    columns.Command(command =>
                    {
                        command.Custom("Open").Text(" ").IconClass("k-icon k-i-folder-open")
                                .HtmlAttributes(new { @class = "k-button-outline-info btn_action_open", 
                                                title = "View" })
                                .Click("grid_onClick_open");
                        command.Custom("Done").Text(" ").IconClass("k-icon k-i-check-outline")
                                .HtmlAttributes(new { @class = "k-button-solid-success btn_action_done", 
                                                title = "Complete training" })
                                .Click("grid_onClick_done");
                        command.Custom("Export").Text(" ").IconClass("k-icon k-i-file-excel")
                                .HtmlAttributes(new { @class = "k-button-outline-warning btn_action_export",
                                                title = "Export attendees"})
                                .Click("grid_onClick_export");
                    }).Width(135).Title("ACTION").Sticky()                    
                    .HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" });
                    columns.Command(command =>
                    {
                        command.Custom("OpenFeedback").Text(" ").IconClass("k-icon k-i-eye")
                                .HtmlAttributes(new { @class = "k-button-outline-info btn_action_open", 
                                                title = "View" })
                                .Click("grid_onClick_openFeedback");
                    }).HtmlAttributes(new { style = "text-align:center;" }).Width(250).Title("TRAINING FEEDBACK EVALUATION").Sticky()                    
                    .HeaderHtmlAttributes(new { style = "text-align:center; font-weight:bold;" });
                })
                .ToolBar(toolbar => {toolbar.Excel();}
                )
                .Editable(editable => editable
                .Mode(GridEditMode.PopUp))
                .Excel(excel => excel
                    .FileName("TrainingMonitoringList.xlsx") // Specify the filename for the exported Excel file
                    .AllPages(true) // Enable export of all pages, including content before the grid
                    .Filterable(false)
                )
                .Events(events => events
                    .ExcelExport("grid_onExcelExport")    // Attach the excelExport event
                    .DataBound("onDataBound")
                ) // Attach the excelExport event
                .Scrollable(s => s.Height("auto"))
                .Pageable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .ServerOperation(true)
                    .Read(read => read.Action("GetTrainingScheduleList", "TrainingMonitoring").Data("ApplyFilterGrid"))
                    .Model(model =>
                    {
                        model.Id(p => p.TrainingCode);
                    })
                )
                .Resizable(resize => resize.Columns(true))
                )     
        </div>   
    </div>
</div>

<script>
    var g_trainingCode = "",
        g_registrationCode = "";

    
    var g_programCodeFilter = "", 
        g_courseCodeFilter = "",
        g_regionCodeFilter = "",
        g_trainingTypeFilter = "";

    $(document).ready(function () {

        var customToolbarPlaceholder = $("#custom-toolbar-placeholder");

        var toolbar = $("#grid_trainingScheduleList").find(".k-toolbar");
        var filtersContainer = $("<div style='display:flex;flex:auto;align-items: center;margin-left:10px;margin-right: auto; padding: 10px;'>Filters: </div>").prependTo(toolbar);

        var programFilter = $("<div style='margin-right:10px;margin-left:10px;width:200px;'></div>").appendTo(filtersContainer);
        var courseFilter = $("<div style='margin-right:10px;width:200px;'></div>").appendTo(filtersContainer);        
        var regionFilter = $("<div style='margin-right:10px;width:150px;'></div>").appendTo(filtersContainer);
        var trainingTypeFilter = $("<div style='margin-right:10px;width:150px;'></div>").appendTo(filtersContainer);
        var ApplyFiltersButton = $("<button class='k-button k-button-solid-primary k-button-md k-rounded-md k-button-solid k-button-solid-base k-toolbar-button'>Apply Filters</button>").appendTo(filtersContainer);

        
        programFilter.kendoMultiSelect({
            dataTextField: "ProgramTitle",
            dataValueField: "ProgramCode",            
            autowidth: true,
            placeholder: "PROGRAM",
            dataSource: {
                transport: {
                    read: {
                        url: '@(Url.Action("GetTrainingProgramEnumList","TrainingProgramAndCourse"))',                        
                        dataType: "json"
                    }
                }
            }
        });

        courseFilter.kendoMultiSelect({
            dataTextField: "CourseTitle",
            dataValueField: "CourseCode",          
            autowidth: true,
			placeholder: 'COURSE',            
            dataSource: {
                transport: {
                    read: {
                        url: '@(Url.Action("GetTrainingCourseEnumList","TrainingProgramAndCourse"))',
                        dataType: "json"
                    }
                }
            }
        });
        
        //TODO REGION
        regionFilter.kendoDropDownList({
            dataTextField: "Region",
            dataValueField: "Region",
            width: 300,
			optionLabel: 'REGION',            
            dataSource: {
                transport: {
                    read: {
                        url: '@(Url.Action("GetHRRegionList","TrainingSchedule"))',
                        dataType: "json"
                    }
                }
            }
        });

        trainingTypeFilter.kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            width: 300,
			optionLabel: 'TRAINING TYPE',         
            dataSource: [
                { text: "ALL", value: "ALL" },
                { text: "FACE TO FACE", value: "FACE TO FACE" },
                { text: "ONLINE", value: "ONLINE" }
            ]
        });
        
        


        ApplyFiltersButton.click(function () {
            
            // apply the filters to the grid
            g_courseCodeFilter = courseFilter.data("kendoMultiSelect").value();
            g_programCodeFilter = programFilter.data("kendoMultiSelect").value();
            g_regionCodeFilter = regionFilter.data("kendoDropDownList").value();
            g_trainingTypeFilter = trainingTypeFilter.data("kendoDropDownList").value();
            
                    
            // Check if any of the filters have a value selected
            if (g_courseCodeFilter.length > 0 || 
                g_programCodeFilter.length > 0 || 
                g_regionCodeFilter !== "" || 
                g_trainingTypeFilter !== "" ) {
                
                // if the filters are not empty, apply them to the grid
                var grid = $("#grid_trainingScheduleList").data("kendoGrid");
                grid.dataSource.read();
            } else {
                // Show an alert if no filters are selected
                $mong.kendoAlertInfo("Please select at least one from the filter options.");
                return;
            }

        });
        

    });

    function ApplyFilterGrid(){
        return {            
            paramProgramCode : g_programCodeFilter,
            paramCourseCode : g_courseCodeFilter,
            paramRegionCode : g_regionCodeFilter,
            paramTrainingType : g_trainingTypeFilter
        }
    }


    function CloseCancelWindow(){
        $("#window_trainingCancellation").data("kendoWindow").close();  
    }

    function grid_onClick_openFeedback(e){
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));        
                
        //get Training Code
        var _code = dataItem.TrainingCode     
        g_trainingCode = _code
        var _window = $("#window_details").data("kendoWindow");
        
        //add spinner
        _window.title("TRAINING FEEDBACK");
        _window.setOptions({ width: "95%",height:"870px" }); // set width to 800px
        _window.open();    
        kendo.ui.progress(_window.element, true);
        
                
         //get the partial page and place it in window content
        $.get('@Url.Action("GetTrainingFeedbackDetails","TrainingMonitoring")', {code:_code})
            .fail(
                function(res){
                    $mong.kendoAlertInfo("Something went wrong. If this is not your first time seeing this, please report this to an IT Administrator");  
                    _window.content(res.responseText); 
                    _window.center();    
                }
            )
            .done(
                function(_partialPage){ 
                    _window.content(_partialPage);   
                    _window.center();      
                    window_details_Resize()
                }
            )
    }
    

    function grid_onClick_open(e){
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));        
                
        //get Training Code
        var _code = dataItem.TrainingCode     
        g_trainingCode = _code
        var _window = $("#window_details").data("kendoWindow");
        
        //add spinner
        _window.title("TRAINING MONITORING");
        _window.setOptions({ width: "95%",height:"870px" }); // set width to 800px
        _window.open();    
        kendo.ui.progress(_window.element, true);
        
                
         //get the partial page and place it in window content
        $.get('@Url.Action("GetTrainingMonitoringDetails","TrainingMonitoring")', {code:_code})
            .fail(
                function(res){
                    $mong.kendoAlertInfo("Something went wrong. If this is not your first time seeing this, please report this to an IT Administrator");  
                    _window.content(res.responseText); 
                    _window.center();    
                }
            )
            .done(
                function(_partialPage){ 
                    _window.content(_partialPage);   
                    _window.center();      
                    window_details_Resize()
                }
            )
    }
    

    async function grid_onClick_done(e){
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));        
                
        //get Training Code
        var _code = dataItem.TrainingCode     
        g_trainingCode = _code

        var datenow = new Date(); // get the current date
        datenow.setHours(0, 0, 0, 0); // set time to midnight

        var endDate = new Date(dataItem.EndDate); // get the EndDate from the dataItem and convert to Date object
        endDate.setHours(0, 0, 0, 0); // set time to midnight

        if(endDate > datenow){
            //ask user
            const result = await $mong.kendoConfirmationDialog("The training is not supposed to be completed yet. Do you want to proceed with this action?");
            
            //If user clicked NO, proceed below
            if (result !== true) {                    
                return;//exit
            }
            
        $(".loadingSpinner").show();
            $.post('@Url.Action("CompleteTraining","TrainingMonitoring")', {paramTrainingCode: g_trainingCode})
                .fail(
                    function (res){       
                        
                        $(".loadingSpinner").hide();
                        $mong.kendoAlertInfo(res.responseText);
                        return
                    }   
                )
                .done(
                    function(data){                        
                        var grid = $("#grid_trainingScheduleList").data("kendoGrid");    
                        
                        grid.dataSource.read().then(function () {
                            grid.refresh();
                        });                       

                        $(".loadingSpinner").hide();
                        $mong.kendoAlertInfo("Successfully completed.");      
                        return
                    }
                )
        }else{
             //ask user
            const result = await $mong.kendoConfirmationDialog("Are you sure you want to tag the training as completed?");
            
            //If user clicked NO, proceed below
            if (result !== true) {                    
                return;//exit
            }

            $(".loadingSpinner").show();
            $.post('@Url.Action("CompleteTraining","TrainingMonitoring")', {paramTrainingCode: g_trainingCode})
                .fail(
                    function (res){    
                        
                        $(".loadingSpinner").hide();   
                        $mong.kendoAlertInfo(res.responseText);
                        return
                    }   
                )
                .done(
                    function(data){                        
                        var grid = $("#grid_trainingScheduleList").data("kendoGrid");    
                        
                        grid.dataSource.read().then(function () {
                            grid.refresh();
                        });                       

                        
                        $(".loadingSpinner").hide();
                        $mong.kendoAlertInfo("Successfully completed.");      
                        return
                    }
                )
        }
        
        
    }
    
    async function grid_onClick_export(e){
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr")); 
        debugger
        $.ajax({
            url: "@Url.Action("ExportExcel", "TrainingMonitoring")",
            type: "POST",
            data: { paramTrainingCode : dataItem.TrainingCode },
            success: function(data){
                debugger
                var result = data;
                if(result.FileGuid !== ""){
                    window.location = '@Url.Action("Download", "TrainingMonitoring")?fileGuid=' + result.FileGuid + '&fileName=' + result.FileName;
                }
                else{
                    $mong.kendoAlertInfo("There was an error exporting the file.");
                }
            },
            error: function(data){
                debugger
                $mong.kendoAlertInfo("There was an error exporting the file.");
            }
        });
    }

    function grid_onExcelExport(e) {
        //var sheet = e.workbook.sheets[0];
        
        
        //// Add custom header rows to the exported Excel file
        //sheet.rows.unshift(            
        //    {}, // Add an empty row to create separation
        //    {}, // Add another empty row
        //    {}  // Add one more empty row
        //);

    }
    
    function ApplyFilterTraineeList(){
        return {
            code : g_trainingCode
        }
    }

    function onDataBound(e) {
        var grid = this;
        grid.tbody.find("tr[role='row']").each(function () {
            var model = grid.dataItem(this);
            
            $(this).find(".btn_action_done").prop("disabled", true);
            $(this).find(".btn_action_done").addClass("k-state-disabled");


            if (model.ScheduleStatus == "AVAILABLE") {
                $(this).find(".btn_action_done").prop("disabled", false);
                $(this).find(".btn_action_done").removeClass("k-state-disabled");
            }
        });
    }

    function AttendanceChange(e) {
        var selectedValue = this.value();
        var grid = $("#grid_traineeList").data("kendoGrid");
        var currentRow = grid.dataItem($(e.sender.element).closest("tr"));
        var absenceReasonField = $(e.sender.element).closest("tr").find("[data-id='" + currentRow.id + "'][name='AbsenceReason']");


        if (selectedValue === "PRESENT") {
            if(currentRow.dirty){ //dirty means may na-edit dyan sa row na yan
                currentRow.set("AbsenceReason", ""); // clear the value of AbsenceReason
            }
        }
    };
    
    function onEdit(e) {
        var currentRow = e.model;
        var absenceReasonField = e.container.find("[name='AbsenceReason']");
        
        if (currentRow.Attendance === "PRESENT") {
            absenceReasonField.attr("disabled", "disabled");
            absenceReasonField.addClass("k-state-disabled");
        } else {            
            absenceReasonField.removeAttr("disabled");
            absenceReasonField.removeClass("k-state-disabled");
        }
    }

    function isPostTestScoreEditable(dataItem) {
        var isCompleted = true;
        if(dataItem.TrainingSchedule.ScheduleStatus != "COMPLETED")
            isCompleted = false

        return dataItem.TrainingSchedule.Course.WithPostTest && isCompleted;
    }

    function isTrainingScheduleCompleted(dataItem) {
        if(dataItem.TrainingSchedule.ScheduleStatus == "COMPLETED")
        return true
        else
        return false;
    }

    function grid_Placeholder(Attendance){

        if(!Attendance){
             return '<span style="opacity:0.7;">Select attendance...<span>';
        }else{
            return Attendance == null ? "" : Attendance;
        }
    }

    function grid_PlaceholderX(){
return `<input class="absence-reason-editor k-input-inner" style="width: 100%" type="text" value="" data-role="textbox" aria-disabled="false" autocomplete="off" >`;
    }

</script>

<style>
.fake-input {    
    margin: -7px 0px -7px 0px !important;
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: text;
}

.fake-dropdown {
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 6px 30px 6px 12px; /* right padding for arrow */
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.fake-dropdown::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #495057;
    transform: translateY(-50%);
}
</style>
